.btn-gris{
    color: white;
    background: #343a40;
    border-color: #343a40;
}
.btn-gris:hover{
    color: white;
    background: #343a40a2;
    border-color: #343a40a2;
}

.btn-personal{
    background: #FE3EB2;
    color: white;
}
.btn-personal:hover {
    background: #d10b82;
    color: white;
}
.img_noti .active img{
    height: 30rem;

}
.img_noti img{
    height: 30rem;

}
.adjunto{
    height: 30rem;
}

@supports(object-fit: fill){
    .img_noti .active img{
      
      object-fit: cover;
      object-position: center center;
    
    }
    .img_noti img{
      
        object-fit: cover;
        object-position: center center;
      
      }
}

@media only screen and (max-width: 1400px) {
    .img_noti .active img{
        height: 20rem;
    
    }
    .img_noti img{
        height: 20rem;
    
    }
     .adjunto{
        height: 20rem;
    }
    
  }