


/* .modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
}
.contenedor{
	width: 800px;
	height: auto;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
    border-radius: 15px;
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
}



.contenido{
	width: 100%;
	padding: 10px;
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}



@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}

/*
.cta{
    display: inline-block;
    padding: 6px 0;
    width: 100px;
    border: 0.2px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal{
    width: 60%;
    height: 60%;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 15px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 15px;
    color: red;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;

}

.modal-close{
    transform: translateY(-200%);
}

.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.lbl-modal{
	background: #FF0083;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
} */

.ctn{
    display: inline-block;
    padding: 6px 0;
    width: 100px;
    border: 0.2px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #ff0083;
    background-color: #fff;
}

.ctn:hover{
    transition: 0.3s;
    background-color: #ff0083;
    color: white;
    border: #FF0083 solid 0.2px;
}

.cta{
    text-decoration: none;
    display: inline-block;
    padding: 6px 0;
    width: 100px;
    border: 0.2px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.contenedor-textos2 a:hover{
    text-decoration: none;
    transition: 0.3s;
    background-color: #0f0f0f;
    color: white;
    border: #0f0f0f solid 0.2px;

}

.w-5{
	width: 2.16em;
}

.model-content{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenido{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
}

.noticiaa img{
    text-align: center;
    align-items: center;
    object-fit: cover;
    /* width: 150px;
    height: auto; */
}

.vermaa{
    font-size: small;
    color: gray;
}

.box1{
    float: left;
    margin-top: 20px;
}

.box2{
    float: right;
    margin-right: 50px;
    margin-top: 6px;
    margin-bottom: 50px;
}



.form-body{
    float: left;
    padding: 0px;
    width: 800px;
    min-width: 300px;
    border-radius: 10px;
    border: solid 1px; color: #ff0080;
    margin-bottom: 50px;
    margin-top: 30px;
}

.form-body2{
    text-align: left;
    padding: 20px;
    width: 450px;
    min-width: 300px;
    border-radius: 10px;
    border: solid 1px;
    margin: 20px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.form-body input{
    width: 300px;
    text-align: center;
}

.form-body2 input{
    width: 400px;
    text-align: center;
}


.form-body button{
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #FF0083;
    font-weight: 500;
    display: block;
    margin: auto;
}

.form-body2 button{
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #FF0083;
    font-weight: 500;
    display: block;
    margin: auto;
}

.form-body button:hover{
    background-color: #a7095b;
}

.caracteres{
    margin-top: 10px;
    margin-left: 12px;
    font-size: 10px;
    color: rgb(168, 162, 162);
}

.caracteres1{
    margin: 0;
    font-size: 10px;
    color: rgb(168, 162, 162);
}

.caracteres2{
    margin-bottom: 0px;
    margin-left: 45px;
    font-size: 10px;
    color: rgb(168, 162, 162);
}

#sesion{
    color: red;
}

.atras{
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    color: #ff0080;
    border-radius: 50px;
    width: 200px;
}

.atras:hover{
    text-decoration: none;
    color: #ff0080;
}

.titulo2{
    display: block;
    margin: auto;
    margin-top: -250px;
    text-align: center;
    background-color: #ff0080;
    color: white;
    border-radius: 50px;
    width: 400px;
 }

 .titulo3{
        
    margin-top: -383px;
    text-align: center;
    background-color: #ff0080;
    color: white;
    border-radius: 50px;
    width: 400px;
 }

 .titulo4{
    margin-left: 200px;
    margin-top: 30px;
    text-align: center;
    font-size: xx-large;
    background-color: #ff0080;
    color: white;
    border-radius: 50px;
    width: 400px;
 }

 .cambiarfoto{
    width: 110px;
    display: block;
    color: #ff0080;
    font-weight: 800;
    margin-left: 20px;
 }

 .cambiarfoto:hover{
    color: #ff0080;
 }
 
 .inputfoto{
    margin-left: 25px;
 }

 .guardar{
    margin-left: 130px;
    width: 100px;
    text-align: center;
    background-color: #ff0080;
    color: white;
    border-radius: 50px;
    border-color: white;
 }

 .alert-pass{
    margin-left: 50px;
 }
