


/* .modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
}
.contenedor{
	width: 800px;
	height: auto;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
    border-radius: 15px;
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
}



.contenido{
	width: 100%;
	padding: 10px;
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}



@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}

/*
.cta{
    display: inline-block;
    padding: 6px 0;
    width: 100px;
    border: 0.2px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal{
    width: 60%;
    height: 60%;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 15px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 15px;
    color: red;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;

}

.modal-close{
    transform: translateY(-200%);
}

.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.lbl-modal{
	background: #FF0083;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
} */

.ctn{
    display: inline-block;
    padding: 6px 0;
    width: 100px;
    border: 0.2px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #ff0083;
    background-color: #fff;
}

.ctn:hover{
    transition: 0.3s;
    background-color: #ff0083;
    color: white;
    border: #FF0083 solid 0.2px;
}

.cta{
    text-decoration: none;
    display: inline-block;
    padding: 6px 0;
    width: 100px;
    border: 0.2px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.contenedor-textos2 a:hover{
    text-decoration: none;
    transition: 0.3s;
    background-color: #0f0f0f;
    color: white;
    border: #0f0f0f solid 0.2px;

}

.w-5{
	width: 2.16em;
}

.model-content{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenido{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
}

.noticiaa img{
    text-align: center;
    align-items: center;
    object-fit: cover;
    /* width: 150px;
    height: auto; */
}

.vermaa{
    font-size: small;
    color: gray;
}


.form-body{
    
    text-align: left;
    padding: 20px;
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    border: solid 1px;
    margin: 10px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.form-body input{
    width: 450px;
    text-align: center;
}


.form-body button{
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #FF0083;
    font-weight: 500;
    display: block;
    margin: auto;
}

.form-body button:hover{
    background-color: #a7095b;
}

.caracteres{
    font-size: 10px;
    color: black;
}

#sesion{
    color: red;
}

.titulo2{
    display: block;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: #ff0080;
    color: white;
    border-radius: 50px;
    width: 400px;
 }

 body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }