.swiper {
  width: 100%;
  max-height: 100%;
  margin: 40px 0;
  padding: 45px 0;
}
/* .swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: .7s;
} */


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.wiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.5);
  
}


.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* @supports(object-fit: cover){
  .swiper img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  
  }
} */

.materialbox-caption {
  bottom: 30px;
  right: 0;
  width: 40%;
  height: auto;
  padding: 10px;
  margin: auto;
  background: #000;
  box-shadow: 5px 5px #fff;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
}

.swiper .col {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px){
  .materialbox-caption {
       width: 90%;
  }
}

@media screen and (max-width: 992px){
  .materialbox-caption {
       width: 70%;
       /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }
}




/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.james{
  width: 500px;
  height: 400px;
  
  
}
#materialbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #272727;
  z-index: 1000;
  will-change: opacity;
}

